extends ../layout/index 

block contenido 
    div.py-10 
        h1.text-4xl.my-10.font-extrabold.text-center Real
            span.font-normal Estate 
        h2.text-center.text-2xl.font-extrabold= page

         div.mt-8.mx-auto.max-w-md
            div.bg-white.py-8.px-4.shadow
                form.space-y-5
                    div     
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="name") Your Name
                        input#nombre.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(type="text" name="name")
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="email") Your Email
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400( type="email" name="email")
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="password") Password
                        input#password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400( type="password" name="password")
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="Re-enter password") Re-enter password
                        input#Re-enter.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400( type="password" name="Re-enter password")

                    div.flex.items-center.justify-between
                        a.text-gray-500.text-xs(href="/auth/login") Sign in
                        a.text-gray-500.text-xs(href="/auth/forgot-password") Forgot your password

                    input(class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font py-3 cursor-pointer" type="submit" value="Create account")
                    
                    